@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

input::placeholder,
textarea::placeholder {
  @apply text-gray-400;
}

input,
textarea {
  @apply text-gray-800 placeholder-gray-400;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom Mapbox popup styling */
.mapboxgl-popup-content {
  background: white !important;
  border-radius: 20px !important;
  border: 3px solid #065F46 !important;
  box-shadow: 0 5px 0 0 rgba(16,78,61,0.3) !important;
  padding: 0 !important;
}

.mapboxgl-popup-tip {
  border-top-color: #065F46 !important;
  border-bottom-color: #065F46 !important;
}

.mapboxgl-popup-close-button {
  color: #065F46 !important;
  font-size: 22px !important;
  padding: 10px !important;
  right: 10px !important;
  top: 10px !important;
  width: 32px !important;
  height: 32px !important;
  line-height: 1 !important;
  z-index: 10 !important;
}
